<div class="basic-container" >

  <mat-grid-list cols="4" rowHeight="100px" gutterSize="30px" >

    <mat-grid-tile colspan="3">
      <mat-form-field>
        <mat-label>Фильтр</mat-label>
        <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterData">
        <button mat-button *ngIf="filterData" matSuffix mat-icon-button aria-label="Clear" (click)="cleanFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <button class="btn-create-project" mat-raised-button color="primary" (click)="openDialog()">Новый проект</button>
    </mat-grid-tile>

  </mat-grid-list>

  <table mat-table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let element"> {{element.pName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ресурс </th>
      <td mat-cell *matCellDef="let element"> {{element.pRes}} </td>
    </ng-container>
  
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата начала </th>
      <td mat-cell *matCellDef="let element"> {{element.pStart}} </td>
    </ng-container>
  
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата завершения </th>
      <td mat-cell *matCellDef="let element"> {{element.pEnd}} </td>
    </ng-container>
  
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Продолжительность </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>
  
    <ng-container matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> % завершения </th>
      <td mat-cell *matCellDef="let element"> {{element.pComp}} </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openInfoProject(element)">
            <mat-icon>apps</mat-icon>
            <span>Открыть</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
  <mat-paginator [pageSizeOptions]="[15, 20]" showFirstLastButtons></mat-paginator>

</div>

