.basic-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.example-button-row{
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
}

.btn-checkbox {
    margin-left: 10px;
    padding-top: 7px;
}

