 table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn-create-project{
    width: 100%;
}

 tr.cdk-row:hover{
    background-color: #f2f2f2;
}
 
.basic-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
  
.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
}